@page "/time-entries"
@inject HttpClient Http

<PageTitle>Time entries</PageTitle>
<h1>Time entries</h1>

<ProjectSelector ProjectSelected="OnProjectSelectedAsync" />

<table>
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeEntry in _timeEntries)
        {
            <tr>
                <td>@timeEntry.Start</td>
                <td>@timeEntry.End</td>
                <td>@GetDuration(@timeEntry.Start, @timeEntry.End)</td>
                <td>@timeEntry.Project.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => ShowProject(timeEntry.Project.Id)">Show project</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<ProjectDetails ProjectId="@_projectId" />

@code {
    private List<TimeEntryResponse> _timeEntries = new();
    private int _projectId;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<TimeEntryResponse>>("api/timeentry");

        if (result != null)
        {
            _timeEntries = result;
        }
    }

    private void ShowProject(int projectId)
    {
        if (_projectId == projectId)
            return;

        _projectId = projectId;
        StateHasChanged();
    }

    private string GetDuration(DateTime startDate, DateTime? endDate)
    {
        if (!endDate.HasValue)
            return string.Empty;

        var duration = endDate.Value - startDate;
        var result = $"{duration.Hours}h {duration.Minutes}min";

        return result;
    }

    private async Task OnProjectSelectedAsync(int projectId)
    {
        if (projectId == 0)
        {
            var result = await Http.GetFromJsonAsync<List<TimeEntryResponse>>("api/timeentry");
            if (result != null)
            {
                _timeEntries = result;
            }
        }
        else
        {
            var result = await Http.GetFromJsonAsync<List<TimeEntryResponse>>($"api/timeentry/project/{projectId}");
            if (result != null)
            {
                _timeEntries = result;
            }
        }

        StateHasChanged();
    }

}
